.banner {
  background-image :url("https://cdn.discordapp.com/attachments/727904622114635839/813069608142635008/HLL.png");
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}