<!-- member content -->
<div>
  <p>need to add steam id through id? API?</p>
  <img class="avatar-large" alt="avatar-large" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/61/61ac79d4c5ff2f1819ab7752e86e36db7390ccfb_full.jpg" />
  <p>Mafia</p>
  <img class="avatar-large" alt="avatar-large" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ab/abd711e7b8153f2a56bede6c272c31ce4a3ea4a0_full.jpg" />
  <p>tateyama[JPN]</p>
  <img class="avatar-large" alt="avatar-large" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/04/042ef2f37159cad4f5a687166e60949f844b7dc0_full.jpg" />
  <p>Takashi</p>
  <img class="avatar-large" alt="avatar-large" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/28/288680bdab7dd176b806acd4ba5c6a78ab28f50f_full.jpg" />
  <p>(JPN)yukimura</p>
  <img class="avatar-large" alt="avatar-large" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/61/615a45c0d5bd3ae20d10f1176a42d6ff8f1b4a2c_full.jpg" />
  <p>negi556</p>
  <img class="avatar-large" alt="avatar-large" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/8e/8e62be0b880de090329fd931eb338ed7f46091b3_full.jpg" />
  <p>siron</p>
  <img class="avatar-large" alt="avatar-large" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/d1/d1d47661db8859300e427b3729884f8936dca741_full.jpg" />
  <p>Doppelganger [JPN]</p>
  <img class="avatar-large" src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/9e/9ece50d01a2ac1a799ab93d531bd0fe3f933402e_full.jpg" alt="avatar-large">
  <p>屋上クレイモア</p>
</div>
<!-- media -->
<div>
  <a class="twitter-timeline" data-lang="ja" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/hell_let_loose?ref_src=twsrc%5Etfw">Tweets by hell_let_loose</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<!-- footer -->
<div class="footer">
  <div class="links">
    <a href="#"><i class="fab fa-fw fa-discord"></i></a>
    <a href="#"><i class="fab fa-fw fa-steam"></i></a>
    <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
    <!-- <a href="#"><i class="fab fa-fw fa-instagram"></i></a> -->
    <p>This website was coded by Mafia.jp©</p>
  </div>
</div>
