<div class="container">
    <div class="container">
      <div class="card-product p-1 text-left" style="background-color:transparent;">
        <% if @user.avatar.attached? == true %>
          <%= cl_image_tag @user.avatar.key, height: 200, width: 200, crop: :fill %>
        <% end %>
        <div style="margin-left: 16px">
          <h2><%= @user.role %></h2>
          <h1><%= @user.steam_name %></h1>
          <p>Here comes stats and other stuff</p>
        </div>
        <%= link_to "編集", edit_user_path(current_user.id) %>
      </div>
    </div>
</div>
