<div class="footer">
    <div class="links">
      <a href="https://t.co/TCmg4dj3E0"><i class="fab fa-fw fa-discord"></i></a>
      <a href="https://steamcommunity.com/groups/HLLJapan"><i class="fab fa-fw fa-steam"></i></a>
      <a href="https://twitter.com/HLL_JPN"><i class="fab fa-fw fa-twitter"></i></a>
      <p>このホームページはMafiaが作りました。</p>

    </div>
</div>