<div class="footer">
    <div class="links">
      <a href="https://t.co/TCmg4dj3E0" target="_blank"><i class="fab fa-fw fa-discord"></i></a>
      <a href="https://steamcommunity.com/groups/HLLJapan" target="_blank"><i class="fab fa-fw fa-steam"></i></a>
      <a href="https://twitter.com/HLL_JPN" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
      <p>このホームページのスポンサーと作成者は匿名です。</p>
      <%= link_to "免責事項", pages_disclaimer_path, style: 'color: white; font-size: 18px;' %>
    </div>
</div>