<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in ADMIN ONLY: app/views/pages/home.html.erb</p>
  <p>Testing slack</p>
  <ul>Under construction</ul>
  <img src="https://cdn.discordapp.com/attachments/812567934551457805/813790907701919844/JPNHLL.png" alt="" style="width: 1000px;">
</div>
