  <!-- code a Hero / Banner section <div class="banner" style="background-image: url(images/hll.jpg)">-->
  <div class="banner">
    <div class="container">
      <div class="main-title">
        <h1>HLL日本コミュニティ</h1>
        <p>突撃と万歳</p>
      </div>
      <a href="https://t.co/TCmg4dj3E0" target="_blank" class="btn-treehouse">Join now</a>
    </div>
  </div>

  <!-- code a "How it works" section -->
<div class="container">
  <p>
    <span id="banner-typed-text"></span>
  </p>
  <div class="cards">
    <div class="card">
      <div>
        <%= image_tag "saluting.svg.png", class: "image-card" %>
      </div>
      <h2>参加</h2>
      <p>まずはJoin nowで<br>メンバーに！</p>
    </div>

    <div class="card">
      <%= image_tag "fighting.svg", class: "image-card" %>
      <h2>戦い</h2>
      <p>一人ではなくチームで<br>戦おう！</p>
    </div>

    <div class="card">
      <%= image_tag "win.png", class: "image-card-win" %>
      <h2>勝利</h2>
      <p>勝っても負けても<br>一緒に盛り上がろう！</p>
    </div>

  </div>
</div>
