<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in ADMIN ONLY: app/views/pages/home.html.erb</p>
  <p>Testing slack</p>
  <ul>Under construction</ul>
  <img src="https://cdn.discordapp.com/attachments/727904622114635839/813069608142635008/HLL.png" alt="" style="width: 1000px;">
</div>

  <!-- code a Hero / Banner section -->
  <div class="banner" style="background-image: url(images/hll.jpg)">
    <div class="container">
      <h1>HLL日本コミュニティ</h1>
      <p>突撃と万歳</p>
      <a href="https://t.co/TCmg4dj3E0" class="btn-treehouse">Join now</a>
    </div>
  </div>

  <!-- code a "How it works" section -->
<div class="container">
  <h2>Together</h2>
  <div class="cards">
    <div class="card">
      <%= image_tag "saluting.svg.png", class: "image-card" %>
      <h2>参加</h2>
      <p>まずはJoin nowで<br>メンバーに！</p>
    </div>

    <div class="card">
      <%= image_tag "fighting.svg", class: "image-card" %>
      <h2>戦い</h2>
      <p>一人ではなくチームで<br>戦おう！</p>
    </div>

    <div class="card">
      <%= image_tag "win.png", class: "image-card" %>
      <h2>勝利</h2>
      <p>勝っても負けても一緒に盛り上がろう！</p>
    </div>

  </div>
</div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="https://t.co/TCmg4dj3E0"><i class="fab fa-fw fa-discord"></i></a>
      <a href="https://steamcommunity.com/groups/HLLJapan"><i class="fab fa-fw fa-steam"></i></a>
      <a href="https://twitter.com/HLL_JPN"><i class="fab fa-fw fa-twitter"></i></a>
      <!-- <a href="#"><i class="fab fa-fw fa-instagram"></i></a> -->
      <p>This website was coded by Mafia.jp©</p>

    </div>
  </div>
