<h1>testing routes</h1>
<div>
  <a class="twitter-timeline" data-lang="ja" data-width="800" data-height="1000" data-theme="dark" href="https://twitter.com/hell_let_loose?ref_src=twsrc%5Etfw">Tweets by hell_let_loose</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<h1 class='text-center'>I want my JS here only</h1>
<script src"../components/displaySteam.js">
const vmsq = require('vmsq')

const stream = vmsq('hl2master.steampowered.com:27011', vmsq.EUROPE, {
  gamedir: 'cstrike',
  map: 'de_nuke',
  empty: 1
})

const servers = []

stream.on('error', (err) => {
  console.error(err)
})

stream.on('data', (ip) => {
  console.log(ip)
  servers.push(ip)
})

stream.on('end', () => {
  console.log(`got ${servers.length} servers`)
})
</script>
