<h1>testing routes</h1>
<div>
  <a class="twitter-timeline" data-lang="ja" data-width="800" data-height="1000" data-theme="dark" href="https://twitter.com/hell_let_loose?ref_src=twsrc%5Etfw">Tweets by hell_let_loose</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<p>here is the python: <%= @test %></p>
