.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cards p {
  color: black;
}

.card {
  display: inline-block;
  text-align: center;
  background-size: cover;
  justify-content: space-around;
  border-radius: 8px;
  // height: 250px;
  // width: 200px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
  margin: 8px 8px 8px 8px;
  padding: 6px;
}

.card:last-child {
  margin-right: 0px;
}

.image-card {
  height: 50px;
  // width: 30px;
}

.image-card-win {
  width: 3em;
  margin-left: auto;
  margin-right: auto;
}

.card-columns .card {
  display: inline-flex;
  width: 100%;
}

.card-columns {
  padding: 16px;
}