.footer h4 {
    color: white;
    font-weight: lighter;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: #2c2b2b;
    margin-top: 8px;
  }
  
  .links {
    text-align: center;
  }
  
  .footer a {
    font-size: 30px;
    color:  #1EDD88;
  }
  
  .footer p {
    color: white;
  }
  