.topics{
    display: contents;
}

.topic{
    //text-align: left;
    margin-top: .25rem;
    font-size: 0.9rem;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    margin: 2em 20em 2em 20em;
    padding: 1em 1em 1em 1em;
    border-style: solid;
    border-width: 10px;
    border-image: conic-gradient(rgb(211,212,201), rgb(59,62,30), rgb(168,170,148), rgb(40,42,20), rgb(126,127,111), rgb(30,31,15), rgb(211,212,201)) 1;
    .title a{
        text-decoration: none;
        color: white;
    }
}

.top-bar{
    background-color: khaki;
}